<section id="hero" class="bg-blue-50 py-20">
  <div class="max-w-7xl mx-auto px-4 grid md:grid-cols-2 gap-10 items-center">
    <div>
      <h2 class="text-4xl font-bold text-gray-800 mb-4">
        Trusted Healthcare & Medical Products
      </h2>
      <p class="text-gray-600 mb-6">
        Dr. Yogendra Singh Chauhan, BAMS (Bachelor of Ayurvedic Medicine & Surgery), is a qualified and experienced Ayurvedic physician dedicated to holistic and root-cause based healing. With years of clinical experience, the doctor focuses on treating both physical symptoms and underlying imbalances through authentic Ayurvedic principles.

The doctor has extensive experience in managing a wide range of chronic and lifestyle-related health conditions, with special emphasis on personalized treatment and long-term wellness.
      </p>
      <button class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700">
        Book Appointment
      </button>
    </div>

    <img src="dr.png" alt="Doctor"
         class="rounded-xl shadow-lg">
  </div>
</section>

<app-hero-slider></app-hero-slider>

